<div class="contenedor">
    <div class="title">
        <h1>Acceso a Clientes</h1>
    </div>

    <div class="formularios">

        <div class="form1">
            <label for="">Clientes Registrados</label>
            <hr>
            <label for="" style="font-size: 14px;">Si tiene una cuenta, ingrese con su dirección de email.</label>
            <br>
            <form action="">
                <label for=""  style="font-size: 14px;">Email*</label>
                <input type="email" name="email" id="" placeholder="">

                <label for=""  style="font-size: 14px;">Contraseña*</label>
                <input type="password" name="email" id="" placeholder="">

                <label for=""  style="font-size: 14px;"><a href="" style="color: black;"> Olvidate tu contraseña?</a></label> <br>
                <button type="button">Ingresar</button>
            </form>
        </div>

<div class="tolbar"></div>
        <div class="form2">
            <label for="">Nuevos Clientes</label>
            <hr>
            <p>Crear una cuenta tiene varios beneficios: hacer pedidos más rápido, mantener más de una dirección, rastrear órdenes y más.</p>
            <a routerLink="/Resgistrarse">Crear Una Cuenta</a>
        </div>

    </div>
   

</div>
