<div class="contenedor">
    <div class="title">
        <h1>Crear una Cuenta Nueva de Cliente</h1>
    </div>

    <div class="forms">
        <div class="form1">
            <label for="">Infromacion Personal</label>
            <hr>
            <label for="" style="font-size: 14px">Nombre*</label>
            <input type="text" name="nombre" id="">
            <label for="" style="font-size: 14px">Appelido*</label>
            <input type="text" name="nombre" id="">
        </div>

        <div class="form2">
            <label for="">Infromacion de Ingreso</label>
            <hr>
            <label for="" style="font-size: 14px">Email*</label>
            <input type="email" name="nombre" id="">
            <label for="" style="font-size: 14px">Contraseña*</label>
            <input type="password" name="nombre" id="">
            <label for="" style="font-size: 14px">Confirma Contraseña*</label>
            <input type="password" name="nombre" id="">

           <div class="container1">
            <input type="checkbox" name="" id=""> 
            <label for="">He leído y acepto los Terminos y Condiciones y Aviso de Privacidad.</label>
           </div>

           <button type="submit">Crear Una Cuenta</button>
        </div>

    </div>
</div>
